.schoolbus_image {
  position: absolute;

}

.Kim {
  position: absolute;
  top: 50px;
  left: 750px;

}

.mario {
  position: absolute;
  top: 55px;
  left: 860px;

}

.Lea {
  position: absolute;
  top: 50px;
  left: 650px;


}

.Lily {
  position: absolute;
  top: 50px;
  left: 550px;

}

.Mimi {
  position: absolute;
  top: 50px;
  left: 450px;

}

.Roy {
  position: absolute;
  top: 50px;
  left: 370px;

}

.Bob {
  position: absolute;
  top: 50px;
  left: 255px;

}

.Joan {
  position: absolute;
  top: 50px;
  left: 150px;

}

.baby {
  position: absolute;
  top: 50px;
  left: 50px;

}
