<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <style>
.test{
  background-color: lightblue;
  color: blue;

}
  </style>
  <body>
    test
    <div class = "test">
      {{{body}}}
      test
    </div>
  </body>
</html>
